@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Nunito Sans';
}

.light{
    background-color: #fafafa;
    color: #111517;
}

.light-element{
    background-color: white;
    color: #111517;
    box-shadow: 1px 1px 5px #858585,
}

.dark{
    background-color: #202c37;
    color: white;
}

.dark-element{
    background-color: #2b3945;
    color: white;
    box-shadow: 1px 1px 5px #2b3945;
}